/* Global Classes */

body {
    height: 100%;
    margin: 0;
    background-color: rgb(231, 231, 231);
}

header {
    position: fixed;
    background-color: darkgray;
    border-bottom: 4px solid black;  
    width: 100%;
    height: 80px;
    margin: 0;
    top: 0;
}

.wall {
    z-index: 999;
    background: rgb(150,150,150);
    width: 100vw;
    height: 100vh;
    position:fixed;
}

.Disabled{
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#navBarHugRight{
    position: absolute;
    top: 0;
    right: 0;
}

#mainNavBar {
    position: absolute;
    list-style-type: none;
    top: 25px;
    right: 0;
    margin: 0;
    float: right;
    padding: 3px;
    font-family: 'Lato', Arial, sans-serif;
    font-size: 15px;
    padding-top: 0;
    width: 30vw;
    margin-top: 0;
    z-index:900;
}

#secondaryNavBar {
    position: absolute;
    top: 0;
    right: 0;
    padding-block-start: 0;
    padding: 0;
    margin: 0;
    align-content: center;
    width: 30vw;
    background-color: rgb(78, 78, 78);
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    z-index:900;
}


#secondaryNavBar li {
    list-style-type: none;
    display: inline-block;
    padding-left: 7%;
}

#secondaryNavBar a{
    color: white;
    text-decoration: none;
    font-family: 'Lato', Arial, sans-serif;
}

#secondaryNavBar a:hover{
    color: rgb(180, 180, 180);
}

#mainNavBar li {
    margin: 10px 15px 15px 15px;
    padding: 5px 15px 5px 15px;
    border: 2px solid rgb(34, 34, 34);
    border-radius: 8px;
    background-color: rgb(121, 121, 121);
}

#mainNavBar #signIn {
    float: right;
    background-color: rgb(21, 196, 79);
}

#mainNavBar #signIn:hover{
    background-color: rgb(72, 255, 0);
}

#mainNavBar #signIn a{
    color: black;
    font-weight: bold;
}

#mainNavBar #signIn h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#mainNavBar #deposit {
    float: right;
}

#mainNavBar #withdraw {
    float: right;
}

#mainBrand a {
    color: black;
    font-weight: bold;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Lato', Arial, sans-serif;
}

#mainBrand {
    display: inline-block;
    position: absolute;
    top: 0;
    border: 0px;
    background-color: darkgray;
    margin-bottom: 0;
    margin-right: 0;
    padding-left: 1%;
    padding-top: 1%;
}

#mainNavBar a  {
    text-decoration: none;
    color: rgb(218, 218, 218);
}

#welcomePop {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 995;
    background: rgba(20,20,20, .9);
    top: 0;
    bottom:0;
    display: fixed;
    animation: fadein 2s;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: .9;}
}

@keyframes fadein2{
    from {opacity: 0;}
    to {opacity: .3}
}

.mainFeatures {
    padding-inline-start: 0px;
}

.mainDescriptions {
    padding-inline-start: 0px;
}

#welcomePop .mainIntro {
    font-size: 45px;
    padding-top: 2%;
}

#welcomePop .mainFeatures {
    text-align: center;
}

#welcomePop .mainDescriptions {
    text-align: center;
}

#welcomePop .mainFeatures li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#welcomePop .mainDescriptions li {
    display: inline-block;
    width: 30%;
    text-align: center;
}

#welcomePop .mainDescriptions h3 {
    color: rgb(255, 255, 255);
    font-family: 'Comic Sans';
}

#welcomePop .mainDescriptions strong {
    font-weight: bold;
}

#welcomePop h1 {
    font-family: 'Helvetica';
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 1%;
}

#welcomePop h2 {
    padding-top: 2%;
    color: rgb(255,255,255);
    text-align: center;
    font-family: 'Helvetica';
}

#welcomePop .lowerText {
    padding-top: 2%
}

#welcomePop .signUpButton {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Arial';
    background-color: rgb(21, 196, 79);
    padding:2% 10% 2% 10%;
    border: 5px solid black;
    border-radius: 25px;
    margin: 0 auto;
    white-space: nowrap;
}

#welcomePop button {
    padding-top:.5%;
    display: flex;
    background: 0;
    border: 0;
    margin: 0 auto;
}

#welcomePop button a {
    color: white;
    text-decoration: none;
    text-align: center;
}

#welcomePop button a:hover {
    color: rgb(104, 104, 104);
}

#welcomePop .signUpButton:hover {
    background-color: rgb(21, 196, 20);
}

div.signUp {
    display: flex;
}


/* Page Specific Classes*/

#leftMenu li {
    margin-bottom: 2%;
}

#gameSelect {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    width: 80vw;
    padding-left: 23px;
    height: 80px;
    z-index:900;
}

#gameSelect ul{
    overflow: hidden;
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding-inline-start: 0;
    margin: 0;
    height: 100%;
}

.checkOutSideBar h3 {
    text-align: center;
}

.checkOutSideBar h2 {
    text-align:center;
}

.checkOutSideBar input{
    text-align:center;
}

#gameSelect li {
    display: inline-block;
    padding: .75vh 2vh 1.25vh 2vh;
    background-color: darkgray;
    text-align: center;
}

#gameSelect li:hover {
    background-color: rgb(135, 135, 135);
    border-bottom: 5px red solid;
    cursor:pointer;
}

#gameSelect h3 {
    color: white;
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
}

#gameSelect a {
    text-decoration: none;
}

#mainContent {
    display: inline-block;
    padding-left: 30%;
    padding-top: 5%;
    width: 70%;
}

#betValue {
    list-style-type: none;
    padding-inline-start: 0;
}

#betValue h3{
    font-family: 'Lato', Arial, sans-serif;
}

#betValue li {
    display: inline-block;
}

#betValue #gameBalance {
    padding-right: 10%;
}

#betSelect {
    padding-inline-start: 0;
    margin-right: 20%;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    margin-bottom: 0;
}

#betSelect2 {
    padding-inline-start: 0;
    margin-right: 20%;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    margin-bottom: 0;
}

#betSelect li {
    display: inline-block;
    margin: 0 2%;
    width: 25%;
    height: 80px;
}

#betSelect2 li {
    display: inline-block;
    margin: 0 1.75%;
    width: 19%;
    height: 80px;
}

#betSelect button:hover{
    background: rgb(150,150,150);
    cursor: pointer;
}

#betSelect2 button:hover{
    background: rgb(150,150,150);
    cursor: pointer;
}

#betSelect button{
    text-align: center;
    text-decoration: 0;
    width: 100%;
    height: 65%;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-family: 'Lato';
    font-size: 30px;
    background: darkgray;
    border: none;
    font-weight: bold;
    border-left: 4px solid red;
    border-top: 4px solid red;
    border-right: 4px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#betSelect2 button{
    text-align: center;
    text-decoration: 0;
    width: 100%;
    height: 65%;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    font-family: 'Lato';
    font-size: 30px;
    background: darkgray;
    border: none;
    font-weight: bold;
    border-left: 4px solid red;
    border-top: 4px solid red;
    border-right: 4px solid red;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#betSelect h2{
    margin-top: 0;
    width: calc(100% - 8px);
    height: 35%;
    padding-top: 20px;
    background: darkgray;
    border-left: 4px solid red;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lato';
    font-size: 15px;    
}

#betSelect2 h2{
    margin-top: 0;
    width: calc(100% - 8px);
    height: 35%;
    padding-top: 20px;
    background: darkgray;
    border-left: 4px solid red;
    border-bottom: 4px solid red;
    border-right: 4px solid red;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: 'Lato';
    font-size: 15px;    
}

#allBetList {
    padding-inline-start: 0;
    margin-right: 20%;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    margin-bottom: 0;
}

#allBetList2 {
    padding-inline-start: 0;
    margin-right: 20%;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
    margin-bottom: 0;
}

#allBetList ul {
    display: inline-block;
    margin: 4% 2%;
    width: calc(25% - 8px);
    min-height: 40px;
    max-height: 250px;
    overflow-y: auto;
    border: 4px solid red;
    border-radius: 5px;
    background-color: darkgray;
    padding-inline-start: 0;
}

#allBetList2 ul {
    display: inline-block;
    margin: 4% 1.75%;
    width: calc(19% - 8px);
    min-height: 40px;
    max-height: 250px;
    overflow-y: auto;
    border: 4px solid red;
    border-radius: 5px;
    background-color: darkgray;
    padding-inline-start: 0;
}

#allBetList ul li {
    font-size: 15px;
    list-style: none;
    color: white;
    font-family: 'Lato';
}

#allBetList2 ul li {
    font-size: 15px;
    list-style: none;
    color: white;
    font-family: 'Lato';
}

#allBetList .betListingPicture{
    width: 30px;
    height: 30px;
    border-radius:10px;
    display: inline-block;
    vertical-align: super;
}

#allBetList2 .betListingPicture{
    width: 30px;
    height: 30px;
    border-radius:10px;
    display: inline-block;
    vertical-align: super;
}

#allBetList .bettingUserName{
    display: inline-block;
    max-width: 50%;
    overflow-x: auto;
    padding-left: 5px;
    max-height: 30px;
    overflow-x: hidden;
}

#allBetList2 .bettingUserName{
    display: inline-block;
    width: 50%;
    padding-left: 5px;
    max-height: 30px;
    overflow-x: hidden;
}

#allBetList .bettingAmount{
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-left: 5px;
    max-height: 30px;
    overflow-x: hidden;
}

#allBetList2 .bettingAmount{
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-left: 5px;
    max-height: 30px;
    overflow-x: hidden;
}

#betListBlack {
    vertical-align: top;
}

#betListRed {
    vertical-align: top;
}

#betListGreen {
    vertical-align: top;
}

/* Styles for marketplace page */

.checkOutSideBar {
    width: 20%;
    background-color: rgb(120,120,120);
    position: absolute;
    z-index: 5;
    right: 0;
    border-left: 2px solid black;
    height: calc(100% - 84px);
    top: 84px;
}

.checkOutSideBar h2{
    font-family: 'Lato';
}

.shoppingCartBottomInfo {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 5;
    font-family: 'Lato';
}

.marketplaceItems {
    width: 80%;
    margin: 2%;
}

.marketplaceItems ul{
    width: 100%;
}

.marketplaceItems img{
    height: 120px;
    width: 120px;
    padding: 0 auto;
    border: 2px solid black;
    background-color: white;
}

.marketplaceItems li{
    text-align: center;
    display: inline-block;
    padding-inline-start: 0;
    border: 2px solid black;
    border-radius: 5px;
    width: 18%;
    margin-right: 2%;
    list-style: none;
    background-color: rgb(150,150,150);
}

.marketplaceTitle {
    font-size: 40px;
    text-align: center;
    width: 80%;
    font-family: 'Lato', Arial, sans-serif;
}

.marketplaceTitle2 {
    font-size: 40px;
    text-align: center;
    font-family: 'Lato', Arial, sans-serif;
}

.WithdrawSearchBar * {
    font-family: 'Lato', Arial, sans-serif;
    display:inline-block;
}

.WithdrawSearchBar h3 {
    width: 70%;
    text-align:right;
    padding-right: 20px;
}

.filterItems {
    padding-left: 10%;
}

.searchItems {
    margin-right: 10%;
}

.WithdrawSearchBar {
    width: 80%;
}

.marketplaceItems *{
    font-family: 'Lato', Arial, sans-serif;
}

.marketplaceItems li h3{
    margin-bottom: 2%;
}

.marketplaceItems input{
    margin-top: 1%;
    margin-bottom: 2%;
}

/* STYLES FOR DEPOSIT PAGE */

#depositDivContent {
    position: absolute;
    top: 104px;
    width: calc(60% - 4px);
    left: calc(20% + 4px);
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Lato';
    z-index: 850;
}

#inventoryItems {
    list-style: none;
    width: 100%;
    padding-inline-start: 0px;
}

#inventoryItems li{
    position: relative;
    width: 11.5%;
    margin-right: 1%;
    height: 236px;
    display: inline-block;
    border: 2px solid black;
    font-size: 8px;
    vertical-align: top;
    margin-bottom: 30px;
}

#inventoryItems li img{
    width: 128px;
    height: 96px;
}

#inventoryItems li button{
    width: 100%;
    position: absolute;
    bottom: 0;
}

#inventoryItems .priceField{
    position: absolute;
    bottom: 38px;
    margin-block-end: 0;
}

#inventoryItems .tradebanned{
    opacity: .5;
    pointer-events: none;
}

#cryptoDepo {
    display: none;
}

#g2aDepo {
    display: none;
}

#depositOptions {
    padding-inline-start: 0px;
}

#depositOptions li{
    display: inline-block;
    padding: 10px 20px;
    background: darkgray;
    border: 5px solid red;
    font-size: 16px;
    font-weight: bold;
    margin-right: 25px;
}

#depositOptions li:hover{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    background: rgb(121, 121, 121);
    border: 5px solid red;
    font-size: 20px;
}

#depositOptions button{
    text-decoration: none;
    color: black;
    border: 0;
    padding: 0;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 15px;
    background-color: inherit;
}

#listOptionsModalDiv {
    display: none;
}

#successfulListingDiv {
    display: none;
}

/* STYLES FOR PROFILE PAGE */

.profileDiv {
    position: absolute;
    top: 104px;
    width: 90vw;
    margin: 0 5vw;
    font-family: 'Lato';
    Text-align: center;
    font-size: 20px;
}

.profileDiv img{
    position: absolute;
    left: 10%;
    display: inline-block;
    text-align: left;
    width: 220px;
    height: 220px;
}

.userSettings {
    width: 30%;
}

.userSettingsContent {
    width: 25%;
    position: absolute;
    left: calc(50% + 184px);
    margin-left: 5%;
    display: inline-block;
    border: 5px solid black;
    border-radius: 5px;
    background: darkgray;
    height: 220px;
}

.userSettingsContent h2 {
    margin-bottom: 0;
}

.userSettingsContent a {
    text-decoration: none;
    color: white;
    padding-bottom: 40px;
}

.userSettingsContent #tradeLinkInputField {
    width: 80%;
    margin: 0 auto;
}

.userSettingsContent #tradeLinkSubmitBTN {
    width: 45%;
    text-align: center;
}

.userSettingsContent form{
    padding: 10px 20px;
}

.profileInfoDiv {
    height: 220px;
    position: absolute;
    left: calc(15% + 184px);
    Background: darkgray;
    display: inline-block;
    border: 5px solid black;
    border-radius: 5px;
    width: 30%;
    margin-left: 5%;
}

.profileInfoDiv ul{
    list-style: none;
}

.profilePageSelectionDiv {
    position: relative;
    top: 475px;
    text-align: center;
}

#profileViewSelector {
    list-style: none;
    font-family: 'Lato';
}

#profileViewSelector li {
    display: inline-block;
    padding: 10px 20px;
    background: darkgray;
    border: 5px solid red;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    margin-right: 20px;
}

#profileViewSelector li a {
    color: black;  
    text-decoration: none; 
}

#profilePageContentDiv {
    position: absolute;
    top: 60vh;
    width: 79vw;
    margin-left: 10vw;
    height: 35vh;
    border: 5px solid black;
    border-radius: 5px;
}

#profiledeposits {
    display: visible;
}

#profilewithdraws {
    display: none;
}

#profilemarketplacelistings {
    display: none;
}

#profilemarketplacepurchases {
    display: none;
}

#profilestatistics {
    display: none;
}

#profilebethistory {
    display: none;
    height: 35vh;
    overflow-y: auto;
}

#bethistorytable {
    margin-left: 5%;
    font-family: 'Lato';
    margin-top: 1%;
}

#bethistorytable td{
    text-align: center;
}

/* Pop-up styles */

#betValue {
    background: darkgray;
    border: 5px solid red;
    border-radius: 10px;
    width: 80%;
}

#betValue #gameBalance {
    padding-left: 3%;
}

#affiliatePopupModal {
    position: fixed;
    top: 10vh;
    left: 45vw;
    z-index: 950;
    width: 20%;
    background: darkgray;
    border: 5px solid black;
    border-radius: 5px;
    font-family: 'Lato';
}

#affiliatePopupModal h1 {
    text-align: center;
    padding-bottom: 3%;
    padding-right: 10%;
    padding-left: 10%;
}

#affiliatePopupModal form {
    padding-right: 3%;
    padding-left: 3%;
}

#affiliatePopupModal input{
    display: inline-block;
}

#affiliatePopupModalCloseBTN {
    color: rgb(199, 199, 199);
    font-size: 8px;
}

#chatWindowContainer {
    display: block;
}

#chatWindow {
    position:fixed;
    top: 84px;
    left: 0;
    width: 20%;
    background: darkgray;
    border-right: 4px solid black;
    font-family: 'Lato';
    text-align: center;
    height: calc(100vh - 84px);
}

#chatWindow .chatMessages{
    width: 80%;
    margin-left: 10%;
    background-color: white;
    border: 2px solid black;
    height: 70%;
    overflow-y: auto;
}

#chatWindow .chatMessageList img {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    padding-left: 5%;
    padding-top: 4%;
}

#chatWindow .chatMessageList {
    list-style: none;
    padding-inline-start: 0;
    margin-left: 1em; 
    margin-right: 1em;
    height: calc(100% - 2em);
}

#chatWindow .chatMessageList li{
    border: 4px solid black;
    background: darkgray;
    margin-top: 10px;
}

#chatWindow .chatMessageList h2{
    display: inline-block;
    text-align: left;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 2%;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 95%;
    max-width: calc(100% - (30px + 8%));
}

#chatWindow .chatMessageList p{
    position: relative;
    top: -20px;
    font-family: 'Lato';
    font-size: 14px;
    text-align: left;
}

#chatWindow .chatMessageList .chatMessageOptions{
    position: relative;
    top: -18px;
    right: -20px;
    text-align: right;
    text-decoration: none;
    color: black;
}

#chatWindow .chatMessageList .chatMessageAdminOptions{
    position: relative;
    top: -18px;
    right: -2px;
    text-align: right;
    text-decoration: none;
    color: black;
}

#chatWindowClose {
    position: fixed;
    background: darkgray;
    top: 84px;
    left: calc(20% + 4px);
    width: 40px;
    height: 40px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
}

#chatWindowClose a{
    position: relative;
    top: 11.5px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}

#chatWindowCloseContainer {
    display: block;
}

#chatWindowOpenContainer {
    display: none;
}

#chatWindowClose:hover {
    background: gray;
    color: white;
}

#chatWindowOpen {
    top: 84px;
    position: fixed;
    background: darkgray;
    left: 0;
    width: 40px;
    height: 40px;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    text-align: center;
}

#chatWindowOpen a{
    position: relative;
    top: 11.5px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
}

#chatWindowOpen:hover {
    background: gray;
    color: white;
}

#chatAdminOptions {
    list-style: none;
    display: none;
}

#chatMessageAdminOptionsPanel {
    display: none;
}

#timeoutFormDiv {
    display: none;
}

#banFormDiv {
    display: none;
}

#chatMessageOptionsPanel {
    display: none;
}

.chatSubmit {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%; 
}

.chatSubmit input {
    border: 2px solid black;
    font-family: 'Lato';
}

.chatSubmit #messageField {
    width: 65%;
    padding: 0;
    height: 140px;
}

.chatSubmit #submitMessageField {
    width: 30%;
    height: 144px;
    word-wrap: normal;
}

.comingSoonFeatureTitle {
    font-family:'Lato';
    position: fixed;
    width: calc(100vw - (20% + 4px));
    left: calc(30% + 4px);
    top: 30vh;
    color: black;
}

#tosPopupContainer {
    display: none;
}

#tosListOfRules {
    max-height: 200px;
    overflow-y: auto;
}

#provablyFairContainer {
    display: none;
}

#affiliatePopupModalContainer{
    display: none;
}

#affiliatePopupModal {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901;
}

#affiliatePopupModal #affiliatePopupModalContent {
    background: darkgray;
    width: 20%;
    height: 40%;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    left: 40%;
    top: 20%;
    text-align: center;
    font-family: 'Lato';
}

#affiliatePopupModalContent a{
    text-decoration: none;
    padding: 15px 30px;
    background: gray;
    border: 4px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    bottom: calc(0 + 20px);
}

#affiliatePopupModalContent a:hover {
    background: rgb(172, 172, 172);
    border: 4px solid red;
    color: rgb(199, 199, 199);
}

#provablyFairPopup {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901;
}

#provablyFairPopup #provablyFairPopupContent {
    background: darkgray;
    width: 20%;
    height: 40%;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    left: 40%;
    top: 20%;
    text-align: center;
    font-family: 'Lato';
}

#provablyFairPopupContent a {
    text-decoration: none;
    padding: 15px 30px;
    background: gray;
    border: 4px solid black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    bottom: calc(0 + 20px);
}

#provablyFairPopupContent a:hover {
    background: rgb(172, 172, 172);
    border: 4px solid red;
    color: rgb(199, 199, 199);
}

#tosPopupModal {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 901;
}

#tosPopupModal #tosPopupModalContent {
    background: darkgray;
    width: 20%;
    height: 40%;
    border: 4px solid black;
    border-radius: 10px;
    position: relative;
    left: 40%;
    top: 20%;
    text-align: center;
    font-family: 'Lato';
}

#tosPopupModalContent a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    background: gray;
    border: 4px solid black;
    border-radius: 5px;
    position: relative;
    bottom: calc(0 + 20px);
}

#tosPopupModalContent a:hover {
    background: rgb(172, 172, 172);
    border: 4px solid red;
    color: rgb(199, 199, 199);
}

/* Jackpot Classes */

#mainJackpotContent {
    width: calc(70% - 4px);
    position: absolute;
    top: 84px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 30px;
    left: calc(20% + 4px);
}

#jackpotSRoomContents {
    display: none;
}

#jackpotMRoomContents {
    display: none;
}

#jackpotLRoomContents {
    display: none;
}

#jackpotRRoomContents {
    display: none;
}

/* Spinner Classes */

#roulette-container-cover-div {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    background-color: black;
    opacity: 0.3;
    z-index: 565;
}

#stdroulette-container {
    width: 80%;
    height: 120px;
    background: darkgray;
    border: 5px solid red;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

#roulette-images ul{
    list-style-type: none;
    overflow-x: hidden;
    height: 110px;
    margin-top: 5px;
}
#roulette-images-list-list {
    position: absolute;
    display: inline-block;
}

#roulette-indicator-id {
    background-color: red;
    width: .6%;
    position: relative;
    top: -120px;
    left: 49.7%;
    height: 120px;
    z-index: 550;
}

#roulette-images {
    position: absolute;
    z-index: 549;
    top: 0;
    width: 99%
}

#roulette-images-list {
    position: absolute;
    display: inline-block;
    padding-inline-start: 15px;
    overflow-y: hidden;
    width: 9775px;
    transition: left 4.5s cubic-bezier(.21,.8,.47,1);
}

#roulette-images-list li{
    display: inline-block;
    margin: 0;
    width: 110px;
    height: 110px;
}

#roulette-images-list .green{
    background-color: green;
}
#roulette-images-list .red{
    background-color: red;
}
#roulette-images-list .black{
    background-color: black;
}

#roulette-images-list .gold{
    background-color: gold;
}

#roulette-images-list .betColorListInsideText{
    color: white;
    font-family: 'Lato';
    font-size: 20px;
    position: relative;
    top: 0px;
    margin-top: 0;
    left: 5px;
}

#rouletteHashInformation {
    display: inline-block;
    font-family: 'Lato';
    font-size: 12px;
    color: gray;
    width: 40%;
    vertical-align: top;
}

#roulettePreviousRounds {
    display: inline-block;
    width: 40%;
}

#previousRoundsUL {
    list-style: none;
    margin-block-start: 8px;
    margin-block-end: 0px;
}

#roulettePreviousRounds li{
    width: 43px;
    height: 43px;
    display: inline-block;
    margin-right: .5%;
    border-radius: 50%;
}

.previousRoundGreen {
    background-color: green;
}

.previousRoundRed {
    background-color: red;
}

.previousRoundBlack {
    background-color: black;
}

#countdownTimer {
    width: 80%;
    text-align: center;
    font-family: 'Lato';
}

#rouletteHashInformation h3{
    padding-top: 3px;
}

#betValueModifierBTNS {
    list-style: none;
}

#betValueModifierBTNS li{
    display: inline-block;
    margin-right: 5px;
}

#betValueModifierBTNS li button{
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    background: gray;
    border: 2px solid black;
    border-radius: 5px;
}

#coinflip-page-contents {
    height: calc(100vh - 84px);
    padding-top: 104px;
    padding-left: calc(20% + 4px + 30px);
}

#coinflip-heading-div {
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
}

#poker-contents {
    height: calc(100vh - 84px);
    padding-left: calc(20% + 4px + 30px);
}

#poker-heading {
    text-align: center;
    font-family: 'Lato';
    font-size: 25px;
}

#poker-tourneys-list {
    list-style: none;
    font-family: 'Lato';
}

#poker-tourneys-list li{
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 4px solid red;
    border-radius: 5px;
}

#poker-tables-list {
    list-style: none;
    font-family: 'Lato';
}

#poker-tables-list li {
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 4px solid red;
    border-radius: 5px; 
}

#active-coinflip-owned-games-list {
    list-style: none;
    font-family: 'Lato';
}

#active-coinflip-owned-games-list li{
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 4px solid red;
    border-radius: 5px;
}

#active-coinflip-unowned-games {
    list-style: none;
    font-family: 'Lato';
}

#active-coinflip-unowned-games li {
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 4px solid red;
    border-radius: 5px; 
}

#past-cf-games-list {
    display: none;
    list-style: none;
    font-family: 'Lato';
}

#past-cf-games-list li {
    text-align: center;
    display: inline-block;
    margin-right: 25px;
    background-color: rgb(94, 94, 94);
    color: white;
    border: 4px solid red;
    border-radius: 5px; 
}